<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ridexpress.driver_app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:name=".DriverApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RideXpress.DriverApp"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAigOyidCJi8jt_R7FWnp1ZfEAcdL6cg44"/>
        <service
            android:name=".services.RideXpressDriverMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- Splash: única activity con intent‑filter LAUNCHER -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.RideXpress.DriverApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Login (pública, porque llega desde Splash) -->
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.RideXpress.DriverApp"/>

        <!-- Registro (se abre desde Login) -->
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:label="@string/title_register"
            android:theme="@style/Theme.RideXpress.DriverApp"/>

        <!-- Main: sólo para conductores autenticados -->
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="false"
            android:theme="@style/Theme.RideXpress.DriverApp"/>

        <!-- Perfil del conductor -->
        <activity
            android:name=".ui.activity.DriverProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.RideXpress.DriverApp"/>
    </application>

</manifest>